# Kelompok 5:
- Afina Rahmani 1901377
- Azzahra Fahriza 2102296
- Muhammad Azka Atqiya 2100812
- Nadhief Athallah Isya 2106413
- Raisyad Jullfikar 2106238

In [1]:
# Import Library
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import pickle
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer
from sklearn.decomposition import PCA
import joblib
import pickle
from sklearn.externals import joblib

In [2]:
# Read or import data from csv
df = pd.read_csv("D:/KULIAH/Semester 3/Data Mining/Tugas Sedang/Latihan2/Data_Datmin/Csv/orders_class.csv")

In [3]:
# Untuk Mengganti '?' Pada Kolom dateOfBirth Menjadi None
df.dateOfBirth=df.dateOfBirth.str.replace('?',"None", regex=True)

In [4]:
# Untuk Menjadikan Nilai Nol Menjadi Null Kemudian Nilai Null Tersebut Diisi Oleh Nilai Median Dari Data Harga
df.loc[(df.price == 0), "price"]=np.nan
df["price"] = df['price'].fillna(df['price'].median(),inplace=False)

In [5]:
# Untuk Mengubah String not reported Menjadi None
df.loc[(df.salutation == 'not reported'), "salutation"]= "None"

In [6]:
# mengubah huruf dan angka anomali pada size menjadi angka sesuai dengan ketentuan ukuran Europe
df['size'] = df['size'].replace("xs", "30")
df['size'] = df['size'].replace("XS", "30")
df['size'] = df['size'].replace("s", "34")
df['size'] = df['size'].replace("S", "34")
df['size'] = df['size'].replace("m", "38")
df['size'] = df['size'].replace("M", "38")
df['size'] = df['size'].replace("l", "42")
df['size'] = df['size'].replace("L", "42")
df['size'] = df['size'].replace("xl", "46")
df['size'] = df['size'].replace("XL", "46")
df['size'] = df['size'].replace("xxl", "48")
df['size'] = df['size'].replace("XXL", "48")
df['size'] = df['size'].replace("xxxl", "52")
df['size'] = df['size'].replace("XXXL", "52")
df['size'] = df['size'].replace("unsized", np.nan)
df['size'] = df['size'].replace("2+", "3")
df['size'] = df['size'].replace("3+", "4")
df['size'] = df['size'].replace("4+", "5")
df['size'] = df['size'].replace("5+", "6")
df['size'] = df['size'].replace("6+", "7")
df['size'] = df['size'].replace("7+", "8")
df['size'] = df['size'].replace("8+", "9")
df['size'] = df['size'].replace("9+", "10")
df['size'] = df['size'].replace("10+", "11")
df['size'] = df['size'].replace("11+", "12")
df['size'] = df['size'].replace("12+", "13")
df['size'] = df['size'].replace("13+", "14")
df['size'] = df['size'].replace("37+", "38")
df['size'] = df['size'].replace("38+", "39")
df['size'] = df['size'].replace("39+", "40")
df['size'] = df['size'].replace("40+", "41")
df['size'] = df['size'].replace("41+", "42")
df['size'] = df['size'].replace("43+", "44")
df['size'] = df['size'].replace("44+", "45")
df['size'] = df['size'].replace("45+", "46")
df['size'] = df['size'].replace("46+", "47")

# menjadikan format size menjadi integer 
df['size'] = pd.to_numeric(df['size'], errors = 'coerce').convert_dtypes()

# mengubah angka anomali menjadi angka size ukuran global (europe)
df['size'] = df['size'].mask(df['size']<=2, 30) #XS
df['size'] = df['size'].mask(df['size']<=6, 34) #S
df['size'] = df['size'].mask(df['size']<=10, 38)#M 
df['size'] = df['size'].mask(df['size']<=14, 42)#L
df['size'] = df['size'].mask(df['size']<=18, 46)#XL
df['size'] = df['size'].mask(df['size']<=22, 48)#XXL
df['size'] = df['size'].mask(df['size']<=26, 52)#XXXL

# mengubah nilai range data menjadi angka size ukuran global Europe
df.loc[df['size'].between(27, 29), 'size'] = 30
df.loc[df['size'].between(31, 33), 'size'] = 34
df.loc[df['size'].between(35, 37), 'size'] = 38
df.loc[df['size'].between(39, 41), 'size'] = 42
df.loc[df['size'].between(43, 45), 'size'] = 46
df['size'] = df['size'].replace(47, 48)
df.loc[df['size'].between(49, 51), 'size'] = 52
df.loc[df['size'].between(53, 55), 'size'] = 56
df.loc[df['size'].between(57, 59), 'size'] = 60

# mengubah nilai range data anomali atau ekstrim menggunakan data mean, median dan value global
df.loc[df['size'].between(61, 1000), 'size'] = int(df['size'].mean())
df.loc[df['size'].between(1001, 5000), 'size'] = df['size'].median()
df.loc[df['size'].between(43, 45), 'size'] = 46

# untuk mengisi nilai null pada size dengan nilai median
df["size"] = df['size'].fillna(df['size'].median(),inplace=False)

# mengubah tipe data size menjadi string
df['size'] = df['size'].astype(str)

# mengubah value global menjadi ukuran baju (str)
df['size'] = df['size'].replace("30", "XS")
df['size'] = df['size'].replace("34", "S")
df['size'] = df['size'].replace("38", "M")
df['size'] = df['size'].replace("42", "L")
df['size'] = df['size'].replace("46", "XL")
df['size'] = df['size'].replace("48", "XXL")
df['size'] = df['size'].replace("52", "XXXL")
df['size'] = df['size'].replace("56", "XXXXL")
df['size'] = df['size'].replace("60", "XXXXL")

In [7]:
# Mengubah Tipe Data
df['size'] = df['size'].astype('category')
df['color'] = df['color'].astype('category')
df['salutation'] = df['salutation'].astype('category')
# mengubah tipe data creationDate menjadi tipe data Datetime
df['creationDate'] = pd.to_datetime(df['creationDate'], errors='coerce')
df['creationDate'] = pd.to_datetime(df['creationDate'], unit='s')

In [8]:
# Proses Pengubahan Format Date Menjadi Format Usia (int)
now = pd.Timestamp('now')
df['dateOfBirth'] = pd.to_datetime(df['dateOfBirth'], errors='coerce')
df['dateOfBirth'] = (now - df['dateOfBirth']).astype('<m8[Y]')
df['dateOfBirth'] = pd.to_numeric(df['dateOfBirth'], errors = 'coerce').convert_dtypes()

In [9]:
# Mengubah Nama Kolom dateOfBirth Menjadi Age
df.rename(columns={'dateOfBirth':'Age'},inplace=True)

In [10]:
# Mengubah Tipe Data Menjadi Format Date
df['deliveryDate'] = pd.to_datetime(df['deliveryDate'], errors='coerce')
df['orderDate'] = pd.to_datetime(df['orderDate'], errors='coerce')
df['deliveryDate'] = pd.to_datetime(df['deliveryDate'], unit='s')
df['orderDate'] = pd.to_datetime(df['orderDate'], unit='s')

In [11]:
# Menghapus Baris yang Kosong atau Null
df = df.dropna()

In [12]:
# Mengeliminasi Data Delivery yang Tahunnya Kurang Dari Data Order
df = df[df['deliveryDate'] > df['orderDate']].dropna()

In [13]:
# Filter, umur dibawah 100 tahun
df1=df[df.Age < 100 ]

In [14]:
# Creeted df_train
df1_train = df1.drop(['creationDate', 'deliveryDate', 'orderDate','orderItemID','color'],axis=1)

In [15]:
# Dummies
df1_train = pd.get_dummies(data=df1_train, columns=['state','size','salutation'])

In [16]:
# Pickle
with open ('D:\\KULIAH\\Semester 3\\Data Mining\\Tugas Sedang\\Latihan2\\data.pickle', 'rb') as fp:
    X_train_column = list(pickle.load(fp))
    
df_prediksi2 = df1_train[X_train_column]

In [17]:
# Show the columns
df1_train.columns

Index(['itemID', 'manufacturerID', 'price', 'customerID', 'Age',
       'state_Baden-Wuerttemberg', 'state_Bavaria', 'state_Berlin',
       'state_Brandenburg', 'state_Bremen', 'state_Hamburg', 'state_Hesse',
       'state_Lower Saxony', 'state_Mecklenburg-Western Pomerania',
       'state_North Rhine-Westphalia', 'state_Rhineland-Palatinate',
       'state_Saarland', 'state_Saxony', 'state_Saxony-Anhalt',
       'state_Schleswig-Holstein', 'state_Thuringia', 'size_L', 'size_M',
       'size_S', 'size_XL', 'size_XS', 'size_XXL', 'size_XXXL', 'size_XXXXL',
       'salutation_Company', 'salutation_Family', 'salutation_Mr',
       'salutation_Mrs', 'salutation_None'],
      dtype='object')

In [18]:
# Joblib
clf = joblib.load("D:\\KULIAH\\Semester 3\\Data Mining\\Tugas Sedang\\Latihan2\\classification.joblib")
clf.predict(df_prediksi2)

array([0, 1, 1, ..., 1, 1, 1], dtype=int64)

In [37]:
# Created data use enumerate
df_Answer = []
for i, j in enumerate(clf.predict(df_prediksi2)):
    df_Answer.append([i, j])

In [2]:
# Print out df(list)
df_Answer

In [39]:
# Created dataframe from list
df_hasil = pd.DataFrame(df_Answer)

In [40]:
# Show df hasil
df_hasil

           0  1
0          0  0
1          1  1
2          2  1
3          3  1
4          4  0
...      ... ..
40153  40153  1
40154  40154  1
40155  40155  1
40156  40156  1
40157  40157  1

[40158 rows x 2 columns]

In [41]:
# Add columns name
df_hasil.columns =['orderItemID', 'prediction']

In [42]:
# Show df_Hasil
df_hasil

       orderItemID  prediction
0                0           0
1                1           1
2                2           1
3                3           1
4                4           0
...            ...         ...
40153        40153           1
40154        40154           1
40155        40155           1
40156        40156           1
40157        40157           1

[40158 rows x 2 columns]

In [57]:
# Save to the txt file
np.savetxt(r'D:\KULIAH\Semester 3\Data Mining\Tugas Sedang\Latihan2\order_class.txt', df_hasil, fmt='%d', delimiter=';',header="orderItemID;prediction", comments='' )

In [68]:
# Read txt file to dataframe
df2 = pd.read_table("D:\\KULIAH\\Semester 3\\Data Mining\\Tugas Sedang\\Latihan2\\order_class.txt", delimiter=";", na_values = '?')

In [70]:
# Counts data true and false from prediction column
df2['prediction'].value_counts()

1    24415
0    15743
Name: prediction, dtype: int64